@import "tailwindcss";

@theme {
  --color-brand-50: #f5f7ff;
  --color-brand-100: #ebf0ff;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}